/* .PokeCard-container{
  /* justify-content: center; */
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

} */

/* .card-disposition{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.Card-continer{

}

.card{
 
} */ 