.nav{
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgb(15, 43, 92);

}

.fondo{
    background: rgb(15, 43, 92);
    width: 100%;
}

.form-control1 { 
    border-color: tomato;
}

.searchContainer{
    align-items: center;
    justify-content: center;
}

.imgFlag{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.PokedexH1{
    text-decoration: none;
}

.LenguageIcons{
    flex:0;
 width:auto;
 align-items: center;
 justify-content: center;
}

.pokedex__header-search{
    margin: auto;
}

.pokedex__header-title{
    color: rgb(127, 138, 163);
    margin:0 25px 0 10px ;
    text-align: center ;
}
