.nav{
    /* align-items: center;
    justify-content: center;
    background: rgb(15, 43, 92);
    width: 100%;
    display: block;
    flex-direction: column; */
    /* display: flex; */
    /* display: block; */
    background: rgb(15, 43, 92);
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-end;
    flex-direction: column;
}

.fondo{
    background: rgb(15, 43, 92);
    width: 100%;
    display: flex;
    background: rgb(15, 43, 92);
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-end;
    flex-direction: column;
}

.form-control1 { 
    border-color: tomato;
}

.searchContainer{
    align-items: center;
    justify-content: center;
}

.imgFlag{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.PokedexH1{
    text-decoration: none;
    align-items: center;
}

.LenguageIcons{
    flex:0;
 width:auto;
 align-items: center;
 justify-content: center;
}

.pokedex__header-search{
    margin: auto;
}

.pokedex__header-title{
    color: rgb(127, 138, 163);
    margin:0 25px 0 10px ;
    text-align: center ;
}

.arrow-leftContentInput{
    align-items: center;
    justify-content: center;
    /* display: flex; */
}